<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>DOCKER</title>
    <style>
        body {
            background-color: brown;
            color: blue;
        }
        .centred {
            text-align: center;
        }
    </style>
</head>
<body>
    <p>HELLO FROM DOCKER</p>
    
    <p><%= data %></p>

    <h2>Login Page</h2><br>
    <div class="centred">
        <form action="/submit" method="POST">
            <label><b>Name</b></label>
            <input type="text" name="name" id="name" placeholder="Enter your Name" required>
            <br><br>
            <label><b>Email: </b></label>
            <input type="email" name="email" id="email" placeholder="Enter your Email" required>        
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>